<h2>Let's Calculate!</h2>

<form action="/calc/show" method="get">
  <label>
    First number: <input type="text" name="first_num">
  </label>

  <select name="operator" id="op">
    <option value="+">+</option>
    <option value="-">-</option>
    <option value="*">*</option>
    <option value="/">/</option>
    <option value="%">%</option>
    <option value="**">**</option>
  </select>

  <label>
    Second number: <input type="text" name="second_num">
  </label>



  <input type="submit" value="Calculate">
</form>
