html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

.listitem {
  color: red;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: gray;
  display: inline;
  margin: 0 2rem;
}

nav {
  height: 3rem;
  background: black;
  text-align: center;
  line-height: 3rem;
}
