<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Animals of the World: A Visual Guide</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Animals of the World: A Visual Guide</h1>

  <hr>

  <%# (Comment)
    Put the specific route template here!
  %>
  <%= yield %>

  <hr>

  <footer>
    &copy; Round Boys Productions 2019
  </footer>

</body>
</html>
