body {
  background:   rgb(121, 133, 173);
}
ul {
  margin-top: 40px;
}

h2 {
  margin-left: 30px;
}

li {
  list-style: none;
  /* display: inline-block; */
  width: 150px;
  margin: 20px 20px 20px 0;
  padding: 10px;
  border: 2px solid rgb(94, 105, 143);
  border-radius: 5px;
  background: rgb(129, 174, 250);
  text-align: center;
  transition: border 0.4s;
}

img {
  display: block;
  margin: 5px auto;
}

li:hover {
  border: 2px solid rgb(154, 45, 129);
}
